#---------------------------------#
#      general configuration      #
#---------------------------------#

name: Build Cmder Launcher only

# Controls when the action will run. Triggers the workflow on push or pull request events but only for the main branch
on:
  workflow_dispatch:

#---------------------------------#
#    environment configuration    #
#---------------------------------#

env:
  # Path to the root of the Cmder project.
  CMDER_ROOT: ${{ github.workspace }}

# permissions:
  # contents: read

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  build:
    name: Build Project
    runs-on: windows-latest
    permissions:
      contents: write
      discussions: write
    steps:
    - name: Check out repository code (Action from GitHub)
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Build Cmder Launcher Only
      shell: pwsh
      working-directory: scripts
      run: .\build.ps1 -Compile -verbose -NoVendor

    - name: Pack the built files
      shell: pwsh
      working-directory: scripts
      run: .\pack.ps1 -verbose

    - name: Upload artifact (cmder_mini.zip)
      uses: actions/upload-artifact@v5
      with:
        path: build/cmder_mini.zip
        name: cmder_mini.zip
